/* DO NOT REMOVE */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* DO NOT REMOVE */

@import url(core/index.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  @apply rounded-xl px-4 py-2;
}

.btn-primary {
  @apply transition-colors bg-primary hover:bg-primary-hover text-primary-inverse font-bold;
}
